<nav class="nav">
  <div class="bar">
    <div class="name">
      <a href="#">Astron</a>
    </div>
    <div class="options">
      <a href="#"><i class="material-icons">face</i>link 1</a>
      <a href="#">link 2</a>
      <a href="#">link 3</a>
    </div>
  </div>
</nav>

<div class="btn-row">
  <button class="btn">Button 1</button>
  <button class="btn btn-primary">Button 2</button>
  <button class="btn btn-accent">Button 3</button>
  <button class="btn btn-warn">Button 4</button>
  <button class="btn btn-caution">Button 5</button>
</div>

<div class="card image-card">
  <img src="https://www.fillmurray.com/g/200/300" alt="fm">
  <h3 class="card-title">Card Title</h3>
  <p class="card-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore enim illo non nulla aspernatur illum velit iure tenetur recusandae esse.</p>
  <div class="btn-row">
    <button class="btn btn-primary">Yes</button>
    <button class="btn btn-warn">No</button>
  </div>
</div>
